.borde {
    border: 2px solid rgb(68, 76, 143);
    border-radius: 10px;
  }
  .izquierda {
    text-align: end;
  }

  .derecha {
    text-align:start;
  }

  .tabla{
    border: 1px solid rgb(221, 221, 221);
    
  }
  .contenedor{
    display:inline;
  }

  .espacio{
    height: 15px;
  }
